<%- include("../partials/header") %>
<%- include("../components/navbar") %>
<body>
  
  <h1>Welcome to the <%= title %>!</h1>
  <p>This is the home page of your web app.</p>
  <%- include("../components/forum") %>
  

</body>

<%- include("../partials/footer") %>
